
.about h1{
    font-size: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #180adf , #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.name p{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color : rgb(255, 0, 55);
    -webkit-background-clip: text;
}

